page-profile {

}
.profilePageImage{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 10px;
  }

  .menuProfileName{
    font-size: 20px;
    font-weight: 500;
    color: #fff; 
  }
  
  .menuProfileDesig{
    font-size: 14px;
    color: #fff; 
  }

  .paddingTop{
    padding-top: 10px;
  }
  .textAlignCenter{
    text-align: center;
  }

  .profile-item{
    font-size: 14px;
  }

  
  .profile-item-title{
    font-weight: bold;
  }