
<ion-header>

  <ion-navbar>
    <ion-title>camera</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  

  <div *ngIf="imgaeUrl">
   <img src="{{imgaeUrl}}">
  </div>

  <!-- <button ion-button full (click)="LocateMe()">Locate Me</button> -->
  <div *ngIf="setLocation">
    <agm-map [latitude]="location.lat" [longitude]="location.lng" [zoom]="16" (mapClick)="onSetMarker($event)">
      <agm-marker   [latitude]="location.lat" [longitude]="location.lng"></agm-marker>
    </agm-map>
  </div>



</ion-content>
